<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.kovtash.black_hole_client</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/bh-client</string>
    <string>1</string>
    <string>/Applications/Element.app/Contents/MacOS/Element</string>
	</array>
  <key>KeepAlive</key>
  <dict>
      <key>Crashed</key>
      <true/>
  </dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
